$cajaaside:(
    bc-cajaaside:rgba(250, 50, 50, 0.876),
   
   
);

$cajamain:(
    bc-cajamain:rgba(16, 60, 255, 0.876),

);

$regresoindex:(
    bc-regreindex:rgb(255, 255, 255,0.876),

);

$todoflex:(
    displa:flex,
)