
.container-fluid{
    margin:0px;
    padding: 0px;
}

#imagendefondo{
    
    background-image: url('../assets/imagenes/fondodosasesores.PNG');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
   
}


